/*PÃGINA UNO*/
.contenedor{
	width: 700px;
	margin: 0px 300px;
}
.logo,.grupo{
	width: inherit;
	margin: 20px 0;
}
.menu{
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	overflow: hidden;
}
.menu>li{
	margin: 8px 0px;
	float: left;
}
li>a{
	text-decoration: none;
	color:black;
	font-size: 24px;
	text-align: center;
	border:1px solid black;
	border-top: none;
	border-bottom: none;
	padding: 5px 30px;
	display: block;	
}	
ul li a:first-child{
	border-left: none;
}
#ultimo {
	border-right:none;
}
p{
	text-align: center;
	font-size: 28px;
}
span{
	font-family: fantasy;
	text-align: left;
	font-size: 18px;
}
.album{
	margin-top: 30px;
	/*border: 1px solid gray;*/
}
.foto{
	display: inline-block;
	margin: 10px 8.5px;
	position: relative;
	/*border: 1px solid gray;*/
}
h3{
	color:white;
	position: absolute;
	right: 6px;
	bottom: 2px;
	font-size: 17px;
}
hr{
	color:gray;
	width: 50px;
	border: 3px solid gray;
}
#z{
	color:black;
	width: 50px;
	border: 3px solid black;
	margin-left: 0px;
	margin-top: 20px;
}

